<div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-10">
  <h2 class="text-xl md:text-3xl font-bold leading-tight mt-12 mb-5">
    Trending destinations
  </h2>
  <div class="-m-1 flex flex-wrap md:-m-2">
    <div class="flex w-1/2 flex-wrap">
      <a
        [routerLink]="'/hotels/Alhambra,%20Spain'"
        class="w-1/2 p-1 md:p-2 relative group cursor-pointer"
      >
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center"
          src="/assets/images/popular-destination/alhambra.jpg"
          height="200"
          width="300"
        />
        <div
          class="absolute inset-0 bg-black opacity-0 hover:opacity-70 transition-opacity duration-300 flex justify-center items-center text-white text-lg font-bold m-2 rounded-lg"
        >
          Alhambra
        </div>
      </a>
      <a
        [routerLink]="'/hotels/Ibiza,%20Spain'"
        class="w-1/2 p-1 md:p-2 relative group cursor-pointer"
      >
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center"
          src="/assets/images/popular-destination/ibiza.jpg"
          height="200"
          width="300"
        />
        <div
          class="absolute inset-0 bg-black opacity-0 hover:opacity-70 transition-opacity duration-300 flex justify-center items-center text-white text-lg font-bold m-2 rounded-lg"
        >
          Ibiza
        </div>
      </a>
      <a
        [routerLink]="'/hotels/Barcelona,%20Spain'"
        class="w-full p-1 md:p-2 relative group cursor-pointer"
      >
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center"
          src="/assets/images/popular-destination/barcelona.jpg"
          height="500"
          width="600"
        />
        <div
          class="absolute inset-0 bg-black opacity-0 hover:opacity-70 transition-opacity duration-300 flex justify-center items-center text-white text-lg font-bold m-2 rounded-lg"
        >
          Barcelona
        </div>
      </a>
    </div>
    <div class="flex w-1/2 flex-wrap">
      <a
        [routerLink]="'/hotels/Palma%20De%20Mallorca,%20Spain'"
        class="w-full p-1 md:p-2 relative group cursor-pointer"
      >
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center"
          src="/assets/images/popular-destination/palma-mallorca.jpg"
          height="500"
          width="600"
        />
        <div
          class="absolute inset-0 bg-black opacity-0 hover:opacity-70 transition-opacity duration-300 flex justify-center items-center text-white text-lg font-bold m-2 rounded-lg"
        >
          Palma de Mallorca
        </div>
      </a>
      <a
        [routerLink]="'/hotels/Madrid,%20Spain'"
        class="w-1/2 p-1 md:p-2 relative group cursor-pointer"
      >
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center"
          src="/assets/images/popular-destination/madrid.jpg"
          height="200"
          width="300"
        />
        <div
          class="absolute inset-0 bg-black opacity-0 hover:opacity-70 transition-opacity duration-300 flex justify-center items-center text-white text-lg font-bold m-2 rounded-lg"
        >
          Madrid
        </div>
      </a>
      <a
        [routerLink]="'/hotels/Tarragona,%20Spain'"
        class="w-1/2 p-1 md:p-2 relative group cursor-pointer"
      >
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center"
          src="/assets/images/popular-destination/tarragona.jpg"
          height="200"
          width="300"
        />
        <div
          class="absolute inset-0 bg-black opacity-0 hover:opacity-70 transition-opacity duration-300 flex justify-center items-center text-white text-lg font-bold m-2 rounded-lg"
        >
          Tarragona
        </div>
      </a>
    </div>
  </div>
</div>
