<app-main-layout>
  <div class="text-center mt-10">
    <h1 class="text-3xl font-bold">
      Compare hotels and choose the best option!
    </h1>
  </div>
  <!-- Buscador centrado horizontalmente -->
  <div
    class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-8 flex items-center justify-between"
  ></div>

  <div class="flex items-center justify-center pt-12">
    <div class="flex gap-8 flex-wrap items-center">
      <div class="flex gap-8">
        <div
          *ngFor="let hotel of hotels; let i = index"
          class="card bg-white p-6 border-2 rounded shadow-md relative max-h-[65vh]"
        >
          <div class="flex justify-between items-center">
            <h2 class="text-3xl font-semibold mb-4">{{ hotel.name }}</h2>
            <button
              class="p-2 mb-4 rounded hover:bg-gray-300"
              (click)="deleteHotel(i)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>

          <img
            [src]="hotel.imageUrl"
            alt="{{ hotel.name }}"
            class="w-full h-48 object-cover mb-4 rounded-md"
          />

          <li class="flex justify-between items-center">
            <span class="font-bold">Price</span>
            <span class="font-bold">{{ hotel.price }}</span>
          </li>

          <div
            class="relative pb-8 pr-2 overflow-y-auto h-full custom-scrollbar"
            [ngClass]="{
              'overflow-y-auto': hotel.isExpanded,
              'overflow-y-hidden': !hotel.isExpanded
            }"
          >
            <ul class="mt-4 space-y-2">
              <li
                *ngFor="let attribute of hotel.attributes"
                class="flex justify-between items-center"
              >
                <span>{{ attribute.text }}</span>
              </li>
            </ul>
          </div>

          <button
            (click)="toggleExpand(i)"
            class="mt-4 sticky bottom-0 transform z-50 px-4 group hover:shadow-lg rounded-md"
          >
            {{ hotels[i].isExpanded ? 'See less' : 'See more' }}
          </button>
        </div>
      </div>

      <!-- Boton para añadir un nuevo hotel -->
      <div
        *ngIf="hotels.length < 4"
        class="bg-white border-2 rounded shadow-md relative flex items-center justify-center w-40 h-40"
      >
        <button
          class="tooltip text-6xl text-black opacity-50 rounded-full hover:opacity-100 mb-2"
          data-tip="Add hotel!"
          (click)="openModal()"
        >
          +
        </button>
      </div>
    </div>
  </div>
  <div
    *ngIf="isModalOpen"
    class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-50"
  >
    <div class="bg-gray-500 bg-opacity-50 w-full h-full absolute"></div>

    <div class="bg-white rounded w-1/2 max-w-xl p-6 relative z-10">
      <button
        class="absolute p-2 top-4 right-4 hover:bg-gray-300 rounded"
        (click)="closeModal()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>

      <h3 class="text-lg font-medium text-gray-900 mb-4" id="modal-title">
        Add Hotel
      </h3>

      <input
        type="text"
        placeholder="Search..."
        class="w-full p-2 border border-gray-300 rounded mb-2"
      />

      <ul class="mt-2 mb-6">
        <li class="border-b border-gray-200 py-2">
          Hotel 1 <button class="text-blue-500 ml-2">Select</button>
        </li>
        <li class="border-b border-gray-200 py-2">
          Hotel 2 <button class="text-blue-500 ml-2">Select</button>
        </li>
      </ul>
    </div>
  </div>
</app-main-layout>
