<div class="popup-background" tabindex="0" role="dialog" aria-modal="true">
  <!-- Fondo del popup -->
  <div class="popup-container" tabindex="0">
    <!-- Contenedor principal del popup -->

    <!-- Título del hotel -->
    <h2>{{ hotel.name }}</h2>

    <!-- Imagen del hotel -->
    <img [src]="hotel.image" [alt]="hotel.name" class="popup-image" />

    <!-- Descripción del hotel -->
    <p>{{ hotel.description }}</p>

    <!-- Columnas de información -->
    <div class="info-columns">
      <!-- Columna de información -->

      <!-- Información de dirección -->
      <div class="info-column">
        <p><strong>Dirección:</strong> {{ hotel.address }}</p>

        <!-- Información de puntuación -->
        <p>
          <strong>Puntuación:</strong> {{ hotel.rating }}/10
          {{ generateStars(hotel.rating) }}
        </p>

        <!-- Información de precio por noche -->
        <p>
          <strong>Precio por noche:</strong> {{ hotel.price | currency: 'USD' }}
        </p>
      </div>

      <!-- Otra columna de información -->

      <!-- Lista de servicios -->
      <div class="info-column">
        <p><strong>Servicios:</strong></p>
        <ul>
          <!-- Iteración sobre la lista de servicios -->
          <li *ngFor="let service of hotel.services">
            <!-- Ícono del servicio -->
            <span class="material-icons">{{ service.icon }}</span>
            <!-- Nombre del servicio -->
            {{ service.name }}
          </li>
        </ul>

        <!-- Información de WiFi -->
        <p><strong>WiFi:</strong> {{ hotel.wifi ? '✔️' : '❌' }}</p>

        <!-- Información de estacionamiento -->
        <p>
          <strong>Estacionamiento:</strong> {{ hotel.parking ? '✔️' : '❌' }}
        </p>
        <!-- Información de mascotas -->
        <p><strong>Mascota:</strong> {{ hotel.petFriendly ? '✔️' : '❌' }}</p>
      </div>
    </div>

    <!-- Botón de cerrar el popup -->
    <button
      (click)="closePopup.emit()"
      (keydown)="closePopup.emit()"
      tabindex="0"
    >
      Cerrar
    </button>
  </div>
</div>
