/* Importar los iconos de Material Icons de Google Fonts */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Estilos generales para el fondo oscuro */
.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(136, 136, 136, 0.7); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900; /* Colocar por encima del contenido detrás del popup */
  backdrop-filter: blur(5px); /* Efecto de desenfoque del fondo */
}

/* Estilos para el contenedor del popup */
.popup-container {
  position: relative;
  background-color: rgba(
    255,
    255,
    255,
    0.95
  ); /* Fondo blanco semitransparente */
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3); /* Sombra alrededor del popup */
  max-width: 90%;
  width: 600px;
  z-index: 1000; /* Colocar por encima del fondo oscuro */
  text-align: center;
  animation: slide-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; /* Animación de entrada */
}

/* Definición de la animación de entrada */
@keyframes slide-in {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Estilos para los iconos de Material Icons */
.material-icons {
  font-size: 40px;
  color: #000000; /* Color negro */
}

/* Estilos para el título del popup */
.popup-container h2 {
  font-size: 36px;
  color: #000000; /* Color negro */
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif; /* Fuente del título */
  text-transform: uppercase;
}

/* Estilos para los párrafos de texto en el popup */
.popup-container p {
  font-size: 18px;
  color: #333; /* Color gris oscuro */
  line-height: 1.6;
  margin-bottom: 10px;
}

/* Estilos para la lista de servicios */
.popup-container ul {
  list-style: none;
  padding-left: 0;
  font-size: 20px;
  color: #000000; /* Color negro */
}

.popup-container ul li {
  margin-bottom: 15px;
}

/* Estilos para el botón de cerrar */
.popup-container button {
  background-color: #1976d2; /* Color azul */
  color: white; /* Texto en color blanco */
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

/* Cambio de estilo al pasar el ratón por encima */
.popup-container button:hover {
  background-color: #1565c0; /* Color azul más oscuro */
  transform: scale(1.05); /* Escalar ligeramente al pasar el ratón por encima */
}

/* Estilos para el botón de cerrar en la esquina */
.popup-container .close-button {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 24px;
  color: #1976d2; /* Color azul */
  cursor: pointer;
}
