<app-main-layout>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="divide-y divide-dark/5">
      <div
        class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8"
      >
        <div>
          <h2 class="text-base font-semibold leading-7 text-dark">
            Personal Information
          </h2>
          <p class="mt-1 text-sm leading-6 text-gray-400">
            Use a permanent address where you can receive mail.
          </p>
        </div>

        <form
          class="md:col-span-2"
          [formGroup]="profileForm"
          (ngSubmit)="updateUserProfile()"
        >
          <div
            class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6"
          >
            <div class="col-span-full flex items-center gap-x-8">
              <img
                src="https://avatars.githubusercontent.com/u/94017645?v=4"
                alt="Profile Photo"
                class="h-24 w-24 flex-none mask mask-squircle bg-gray-800 object-cover"
              />
              <div>
                <button
                  type="button"
                  class="rounded-md bg-blue-500/10 px-3 py-2 text-sm font-semibold text-dark shadow-sm hover:bg-blue-500/20"
                >
                  Change avatar
                </button>
                <p class="mt-2 text-xs leading-5 text-gray-400">
                  JPG, GIF or PNG. 1MB max.
                </p>
              </div>
            </div>

            <div class="sm:col-span-3">
              <label
                for="first-name"
                class="block text-sm font-medium leading-6 text-dark"
                >First name</label
              >
              <div class="mt-2">
                <input
                  type="text"
                  name="first-name"
                  id="first-name"
                  autocomplete="given-name"
                  class="block w-full rounded-md border-0 bg-blue-500/5 px-4 py-1.5 text-dark shadow-sm ring-1 ring-inset ring-dark/10 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
                  formControlName="firstName"
                />
              </div>
            </div>

            <div class="sm:col-span-3">
              <label
                for="last-name"
                class="block text-sm font-medium leading-6 text-dark"
                >Last name</label
              >
              <div class="mt-2">
                <input
                  type="text"
                  name="last-name"
                  id="last-name"
                  autocomplete="family-name"
                  class="block w-full rounded-md border-0 bg-blue-500/5 px-4 py-1.5 text-dark shadow-sm ring-1 ring-inset ring-dark/10 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
                  formControlName="lastName"
                />
              </div>
            </div>

            <div class="col-span-full">
              <label
                for="email"
                class="block text-sm font-medium leading-6 text-dark"
                >Email address</label
              >
              <div class="mt-2">
                <input
                  id="email"
                  name="email"
                  type="email"
                  autocomplete="email"
                  class="block w-full rounded-md border-0 bg-blue-500/5 px-4 py-1.5 text-dark shadow-sm ring-1 ring-inset ring-dark/10 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
                  formControlName="email"
                />
              </div>
            </div>

            <div class="col-span-full">
              <label
                for="username"
                class="block text-sm font-medium leading-6 text-dark"
                >Username</label
              >
              <div class="mt-2">
                <div
                  class="flex rounded-md bg-blue-500/5 ring-1 ring-inset ring-dark/10 focus-within:ring-2 focus-within:ring-inset focus-within:ring-blue-500"
                >
                  <span
                    class="flex select-none items-center pl-3 text-gray-400 sm:text-sm"
                    >yado.hotel/user/</span
                  >
                  <input
                    type="text"
                    name="username"
                    id="username"
                    autocomplete="username"
                    class="flex-1 border-0 bg-transparent py-1.5 pl-1 text-dark focus:ring-0 sm:text-sm sm:leading-6"
                    placeholder="emagrina"
                    formControlName="username"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-span-full mr-44 mt-4">
            <app-successfully-uploaded *ngIf="changesSavedSuccessfully" />
            <app-error-uploaded *ngIf="errorOccurred" />
          </div>
          <div class="mt-8 flex">
            <button
              type="submit"
              class="rounded-md bg-blue-700 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500 transition ease-in-out"
              [ngClass]="{ 'opacity-50 cursor-not-allowed': !isFormDirty }"
              [disabled]="!isFormDirty"
            >
              Save
            </button>
          </div>
        </form>
      </div>

      <div
        class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8"
      >
        <div>
          <h2 class="text-base font-semibold leading-7 text-dark">
            Change password
          </h2>
          <p class="mt-1 text-sm leading-6 text-gray-400">
            Update your password associated with your account.
          </p>
        </div>

        <form class="md:col-span-2">
          <div
            class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6"
          >
            <div class="col-span-full">
              <label
                for="current-password"
                class="block text-sm font-medium leading-6 text-dark"
                >Current password</label
              >
              <div class="mt-2">
                <input
                  id="current-password"
                  name="current_password"
                  type="password"
                  autocomplete="current-password"
                  class="block w-full rounded-md border-0 bg-blue-500/5 px-4 py-1.5 text-dark shadow-sm ring-1 ring-inset ring-dark/10 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <div class="col-span-full">
              <label
                for="new-password"
                class="block text-sm font-medium leading-6 text-dark"
                >New password</label
              >
              <div class="mt-2">
                <input
                  id="new-password"
                  name="new_password"
                  type="password"
                  autocomplete="new-password"
                  class="block w-full rounded-md border-0 bg-blue-500/5 px-4 py-1.5 text-dark shadow-sm ring-1 ring-inset ring-dark/10 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <div class="col-span-full">
              <label
                for="confirm-password"
                class="block text-sm font-medium leading-6 text-dark"
                >Confirm password</label
              >
              <div class="mt-2">
                <input
                  id="confirm-password"
                  name="confirm_password"
                  type="password"
                  autocomplete="new-password"
                  class="block w-full rounded-md border-0 bg-blue-500/5 px-4 py-1.5 text-dark shadow-sm ring-1 ring-inset ring-dark/10 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
                />
              </div>
            </div>
          </div>

          <div class="mt-8 flex">
            <button
              type="submit"
              class="rounded-md bg-blue-700 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500"
            >
              Save
            </button>
          </div>
        </form>
      </div>

      <div
        class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8"
      >
        <div>
          <h2 class="text-base font-semibold leading-7 text-dark">
            Become a Hotel Manager
          </h2>
          <p class="mt-1 text-sm leading-6 text-gray-400">
            Effortlessly manage your properties by joining as a hotel manager
            and uploading your accommodations.
          </p>
        </div>

        <form class="md:col-span-2">
          <div
            class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6"
          >
            <div class="col-span-full">
              <label
                for="role-change-to-hotel-manager"
                class="block text-sm font-medium leading-6 text-dark"
                >Your email</label
              >
              <div class="mt-2">
                <input
                  id="role-change-to-hotel-manager"
                  name="email"
                  type="email"
                  autocomplete="current-email"
                  class="block w-full rounded-md border-0 bg-blue-500/5 px-4 py-1.5 text-dark shadow-sm ring-1 ring-inset ring-dark/10 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
                />
              </div>
            </div>
          </div>

          <div class="mt-8 flex">
            <button
              type="submit"
              class="rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-500"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
      <div
        class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8"
      >
        <div>
          <h2 class="text-base font-semibold leading-7 text-dark">
            Delete account
          </h2>
          <p class="mt-1 text-sm leading-6 text-gray-400">
            No longer want to use our service? You can delete your account here.
            This action is not reversible. All information related to this
            account will be deleted permanently.
          </p>
        </div>

        <form class="flex items-start md:col-span-2">
          <button
            type="submit"
            class="rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-400"
            (click)="onShowAlertDelete()"
          >
            Yes, delete my account
          </button>
        </form>
        <app-confirm-delete *ngIf="showDeleteAlert"></app-confirm-delete>
      </div>
    </div>
  </div>
</app-main-layout>
