<div class="p-8 mx-32">
  <!-- Sección de imagen y nombre del usuario en la parte superior -->
  <div class="flex items-center mb-8">
    <img
      class="w-48 h-48 rounded-full mr-4"
      [src]="user.imageUrl"
      alt="{{ user.name }}"
    />
    <h1 class="text-3xl mx-8 font-bold">{{ user.name }}</h1>
  </div>

  <!-- Panel con la información del usuario, comentarios y hoteles favoritos-->
  <div class="grid grid-cols-3 gap-8 bg-white p-6 rounded shadow-lg w-full">
    <div>
      <h2 class="text-xl font-semibold mb-4">Información del usuario</h2>

      <div class="bg-gray-100 p-4 rounded mb-4">Info 1</div>
      <div class="bg-gray-100 p-4 rounded mb-4">Info 2</div>
      <div class="bg-gray-100 p-4 rounded">Info 3</div>
    </div>

    <div>
      <h2 class="text-xl font-semibold mb-4">Comentarios/Reseñas</h2>

      <div class="bg-gray-100 p-4 rounded mb-4">Comentario 1</div>
      <div class="bg-gray-100 p-4 rounded mb-4">Comentario 2</div>
      <div class="bg-gray-100 p-4 rounded">Comentario 3</div>
    </div>

    <div>
      <h2 class="text-xl font-semibold mb-4">Hoteles Favoritos</h2>

      <div class="bg-gray-100 p-4 rounded mb-4">
        Hotel 1
        <img
          class="mb-2 w-full h-24 object-cover rounded"
          src="https://via.placeholder.com/190x100"
          alt="Hotel 1"
        />
      </div>
      <div class="bg-gray-100 p-4 rounded mb-4">
        Hotel 2
        <img
          class="mb-2 w-full h-24 object-cover rounded"
          src="https://via.placeholder.com/190x100"
          alt="Hotel 2"
        />
      </div>
      <div class="bg-gray-100 p-4 rounded">
        Hotel 3
        <img
          class="mb-2 w-full h-24 object-cover rounded"
          src="https://via.placeholder.com/190x100"
          alt="Hotel 3"
        />
      </div>
    </div>
  </div>
</div>
