<app-main-layout>
  <main class="isolate">
    <div class="relative isolate -z-10">
      <div
        class="absolute left-1/2 right-0 top-0 -z-10 -ml-24 transform-gpu overflow-hidden blur-3xl lg:ml-24 xl:ml-48"
        aria-hidden="true"
      >
        <div
          class="aspect-[801/1036] w-[50.0625rem] bg-gradient-to-tr from-[#2c65ea] to-[#9089fc] opacity-30"
          style="
            clip-path: polygon(
              63.1% 29.5%,
              100% 17.1%,
              76.6% 3%,
              48.4% 0%,
              44.6% 4.7%,
              54.5% 25.3%,
              59.8% 49%,
              55.2% 57.8%,
              44.4% 57.2%,
              27.8% 47.9%,
              35.1% 81.5%,
              0% 97.7%,
              39.2% 100%,
              35.2% 81.4%,
              97.2% 52.8%,
              63.1% 29.5%
            );
          "
        ></div>
      </div>
      <div class="overflow-hidden">
        <div
          class="mx-auto max-w-7xl px-6 pb-32 pt-36 sm:pt-60 lg:px-8 lg:pt-32"
        >
          <div
            class="mx-auto max-w-2xl gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center"
          >
            <div class="w-full max-w-xl lg:shrink-0 xl:max-w-2xl">
              <h1
                class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
              >
                Compare. Choise. Save. Your Perfect Hotel.
              </h1>
              <p
                class="relative mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none"
              >
                The main goal of this final bootcamp project is to save you time
                and money when searching for a hotel for your travels. By
                gathering information from multiple hotel websites, the service
                provides users with a more efficient way to find cost-effective
                and suitable options for their travel needs. As a result, the
                project becomes a valuable tool for those who want to make the
                most of their travel experience without worrying about
                extensively searching for the best accommodation deals.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</app-main-layout>
