<div>
  <h2 class="text-base font-semibold leading-7 text-dark">Change password</h2>
  <p class="mt-1 text-sm leading-6 text-gray-400">
    Update your password associated with your account.
  </p>
</div>

<form
  class="md:col-span-2"
  [formGroup]="changePasswordForm"
  (ngSubmit)="onSubmit()"
>
  <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6">
    <div class="col-span-full">
      <label
        for="current-password"
        class="block text-sm font-medium leading-6 text-dark"
        >Current password</label
      >
      <div class="mt-2">
        <input
          id="current-password"
          name="current_password"
          type="password"
          autocomplete="current-password"
          formControlName="currentPassword"
          class="block w-full rounded-md border-0 bg-blue-500/5 px-4 py-1.5 text-dark shadow-sm ring-1 ring-inset ring-dark/10 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
        />
      </div>
    </div>

    <div class="col-span-full">
      <label
        for="new-password"
        class="block text-sm font-medium leading-6 text-dark"
        >New password</label
      >
      <div class="mt-2">
        <input
          id="new-password"
          name="new_password"
          type="password"
          autocomplete="new-password"
          formControlName="newPassword"
          class="block w-full rounded-md border-0 bg-blue-500/5 px-4 py-1.5 text-dark shadow-sm ring-1 ring-inset ring-dark/10 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
        />
      </div>
    </div>

    <div class="col-span-full">
      <label
        for="confirm-password"
        class="block text-sm font-medium leading-6 text-dark"
        >Confirm password</label
      >
      <div class="mt-2">
        <input
          id="confirm-password"
          name="confirm_password"
          type="password"
          autocomplete="new-password"
          formControlName="confirmPassword"
          class="block w-full rounded-md border-0 bg-blue-500/5 px-4 py-1.5 text-dark shadow-sm ring-1 ring-inset ring-dark/10 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
        />
      </div>
    </div>
  </div>
  <div class="col-span-full mt-4">
    <app-success-message *ngIf="changesSavedSuccessfully">
      Password changed successfully
    </app-success-message>
    <app-error-message *ngIf="errorOccurred">
      <span slot="title">An error occurred while changing the password.</span>
      <ul slot="content">
        <li>Password must be at least 6 characters long.</li>
        <li>Password must contain at least one uppercase letter.</li>
        <li>Password must contain at least one special character.</li>
      </ul>
    </app-error-message>
  </div>

  <div class="mt-8 flex">
    <button
      type="submit"
      class="rounded-md bg-blue-700 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500"
    >
      Save
    </button>
  </div>
</form>
