<app-main-layout>
  <div class="p-12 lg:mx-72">
    <!-- Sección de imagen y nombre del usuario en la parte superior -->
    <div class="flex flex-col lg:flex-row items-center mb-8">
      <img
        class="w-24 h-24 rounded-full mb-4 lg:mb-0 lg:mr-4 lg:ml-4"
        [src]="userProfileImage$ | async"
        alt="{{ firstName$ | async }} {{ lastName$ | async }}"
      />
      <div class="flex flex-col items-center lg:items-start">
        <h1 class="text-3xl font-bold text-center lg:text-left mb-2">
          {{ firstName$ | async }} {{ lastName$ | async }}
        </h1>
        <h2 class="text-1xl text-center lg:text-left">
          {{ username$ | async }}#{{ userId$ | async }}
        </h2>
      </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 bg-white p-6 rounded-md">
      <div>
        <h2 class="text-xl font-semibold mb-4">Liked hotels</h2>

        <div
          class="bg-gray-100 p-4 rounded-md mb-4 h-[51vh] overflow-y-auto custom-scrollbar"
        >
          <div *ngIf="favorites$ | async as favorites">
            <div *ngFor="let favorite of favorites">
              <p>Hotel: {{ favorite.hotel?.name }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="space-y-4">
        <div>
          <h2 class="text-xl font-semibold mb-4">Map</h2>
          <div class="bg-gray-100 p-4 rounded-md relative h-[30vh] w-full">
            <app-map-hotels styleConfig="userProfile" />
          </div>
        </div>

        <div>
          <h2 class="text-xl font-semibold mb-4">Reviews</h2>
          <div
            class="bg-gray-100 p-4 rounded-md h-[15vh] overflow-y-auto custom-scrollbar"
          >
            <div *ngIf="reviews$ | async as reviews">
              <div
                *ngFor="let review of reviews"
                class="bg-white shadow-md rounded-lg p-6 mb-4"
              >
                <div class="flex justify-between items-center mb-2">
                  <p class="text-gray-800 font-semibold">
                    User: {{ review.userId }}
                  </p>
                  <p class="text-gray-500 text-sm">
                    {{ review.date | date: 'short' }}
                  </p>
                </div>

                <div class="mb-2">
                  <p class="text-gray-700">Hotel: {{ review.hotelId }}</p>
                </div>

                <div class="mb-2">
                  <p class="text-green-700 font-semibold">
                    Qualification: {{ review.qualification }}
                  </p>
                </div>

                <div class="mb-2">
                  <p>Positive comment:</p>
                  <p>{{ review.positiveComment }}</p>
                </div>

                <div class="mb-2">
                  <p>Negative comment:</p>
                  <p>{{ review.negativeComment }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-main-layout>
