.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4a90e2 #e9f1f6;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #e9f1f6;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}
