<app-main-layout>
  <!-- Contenido principal de la página -->
  <div class="hotel-list">
    <!-- Título y descripción -->
    <div class="title">
      <h2>Top Hoteles</h2>
      <p>
        Descubre nuestra selección de los mejores hoteles para una estadía
        inolvidable. Desde lujosos resorts en la playa hasta acogedores retiros
        en la montaña, estos hoteles ofrecen experiencias únicas para cada tipo
        de viajero.
      </p>
    </div>

    <!-- Lista de tarjetas de hotel -->
    <div class="hotel-card-list">
      <!-- Iteración sobre la lista de hoteles -->
      <div
        class="hotel-card"
        *ngFor="let hotel of hotels"
        (mouseenter)="showDescription = true"
        (mouseleave)="showDescription = false"
        (click)="openPopup(hotel)"
        (keydown.enter)="openPopup(hotel)"
        tabindex="0"
        role="button"
      >
        <!-- Título del hotel -->
        <div class="hotel-title">
          <h3>{{ hotel.name }}</h3>
        </div>

        <!-- Imagen del hotel -->
        <img [src]="hotel.image" [alt]="hotel.name" />

        <!-- Descripción que aparece al hacer hover -->
        <div class="description" *ngIf="showDescription">
          <p>{{ hotel.description }}</p>

          <!-- Botón "Ver más información" -->
          <div class="button">
            <button (click)="openPopup(hotel)" ((keydown))="openPopup(hotel)">
              Ver más información...
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Popup de detalles del hotel -->
  <app-hotel-details-popup
    *ngIf="isPopupOpen"
    [hotel]="activeHotel"
    (closePopup)="closePopup()"
  ></app-hotel-details-popup>
</app-main-layout>
